<div class="hero-unit currentcond">
  <h1>
    <center>
      <em><%= @city %> &emsp;
      <%= image_tag @curconditionspic %></em>
      <%= @temperature %> &deg;F
    </center>
  </h1>
</div>

