<div class="currentcond">
  <h1>
    <center>
      <em><%= @city %>, <%= @state %> &emsp;
      <%= image_tag @curconditionspic %></em>
      <%= @temperature %> &deg;F
    </center>
  </h1>
</div>
