<% provide(:title, 'Galleries') %>
<h1>Galleries</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @galleries %>
</ul>

<%= will_paginate %>

<section>
  <%= render 'shared/pictograph_form' %>
</section>

