<% provide(:title, 'Galleries') %>

<div class="row">
  <div class="span8">
    <h1>Photo Galleries</h1>
  </div>
  <div class="span2">
    <% if signed_in? %>
      <a class="btn btn-info" href="/uploadpic">
        Upload Photo
      </a>
    <% end %>
  </div>
</div>
<%= will_paginate %>

<ul class="galleries">
  <%= render @galleries %>
</ul>

<%= will_paginate %>


