<header class="navbar" >
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
	  <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Forums", forums_path %></li>
	  <li><%= link_to "Pictures", galleries_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


